html, body, ul, figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a img {
  border: 0;
}

body {
  background: url(../img/brushed_alu.png) fixed ;
  width: 960px;
  margin: auto;
  color: #171717;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

header {
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #171717;
  font-weight: 600;
  
 }

header h1 {
  margin: 0.2em 0 0;
}

header h2 {
  margin-top: 10px;
  font-size: 24px;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

li {
  float: left;
  list-style: none;
  margin: 10px;
  padding: 10px;
  z-index: 1;
  

	
  background-image: -webkit-linear-gradient(left top, rgb(252,252,252) 61%, rgb(242,242,242) 97%);
  
  max-width: 200px;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transition: -webkit-transform .3s linear;
  -moz-transition: -moz-transform .3s linear;
  -o-transition: -o-transform .3s linear;
  transition: transform .3s linear;
  
  -moz-box-shadow: 1px 1px 7px 1px #dadada;
  -webkit-box-shadow: 1px 1px 7px 1px #dadada;
  -o-box-shadow: 1px 1px 7px 1px #dadada;
  box-shadow: 1px 1px 7px 1px #dadada;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

}

li:nth-child(even) {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

li img {
  width: 200px;
}

figure {
  position: relative;
  line-height: 0;
}

figcaption {
  position: absolute;
  bottom: 0; left: 0;
  opacity: 0;
  line-height: 1em;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  padding: 3px;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

li.selected,
li.focused,
li:hover {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform: scale(1.1);
  z-index: 10;
}

li.selected figcaption,
li.focused figcaption,
li:hover figcaption {
  opacity: 1;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


#content {
  margin:20px 0px 20px 0px;
}

#loading {
  margin-bottom:30px;
}